
<h1>Colin's Hair Emporium</h1>

<h2>Link to stylist page.</h2>
<p><a href='/stylists'>View List of Stylists<a/></p>
<p><a href='/stylists/new'>Add a New Stylist<a/></p>

<h2>Link to client list.</h2>
<p><a href='/clients'>View List of Clients<a/></p>

<h2>Link to Specialties and stylists who offer them.</h2>
<p><a href='/specialties'>View List of Specialties<a/></p>
<p><a href='/specialties/new'>Add a New Specialty<a/></p>
